*{
  font-family: Calibri;
}
body{
  background: #333;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.vocabulary{
  width: 500px;
  height: 480px;
  border-radius: 12px
}
a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 16px;
}
a::after{
  content: " ";
  display: block;
  width: 0%;
  background: violet;
  height: 2px;
  margin: auto;
  transition: .3s ease;
}
a:hover::after{
  width: 10%;
}
h1,h2,p, li{
  color: whitesmoke;
}
ul li{
  list-style-type: none;
}
p{
  font-size: 20px;
  text-align: left;
}